.header {
    height: 80px;
    background-color: var(--white);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    /* Ensure vertical alignment */
    gap: 2rem;
    list-style: none;
    margin: 0 auto;
    /* Center the menu */
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    font-weight: 500;
    color: var(--secondary);
    transition: color 0.2s;
}

.link:hover {
    color: var(--primary);
}

.cta {
    background-color: var(--primary);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    font-weight: 600;
    transition: background-color 0.2s;
}

.cta:hover {
    background-color: var(--primary-hover);
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}